<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="Vidyano.WindowsStore.Sample" Publisher="CN=David" Version="1.0.0.0" />
  <Properties>
    <DisplayName>Vidyano WindowsStore Sample</DisplayName>
    <PublisherDisplayName>2sky NV</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="Vidyano.WindowsStore.Sample.App">
      <VisualElements DisplayName="Vidyano" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="Vidyano.WindowsStore.Sample" ForegroundText="light" BackgroundColor="#008042" ToastCapable="true">
        <DefaultTile ShortName="Vidyano" ShowName="allLogos" />
        <SplashScreen Image="Assets\SplashScreen.png" />
      </VisualElements>
      <Extensions>
        <Extension Category="windows.search" />
        <Extension Category="windows.fileOpenPicker">
          <FileOpenPicker>
            <SupportedFileTypes>
              <SupportsAnyFileType />
            </SupportedFileTypes>
          </FileOpenPicker>
        </Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>